<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">
    <header class="header">
        <div class="header-wrap">
            <!-- Logo Section -->
            <div class="header-left">
                <a href="/" class="logo-link">
                    <div class="logo-wrap">
                        <img src="/images/logo-384x384.jpg" width="55" height="55" loading="lazy"
                             alt="Lifting Diaries logo" class="logo-img">
                        <span class="logo-title">Lifting Diaries</span>
                    </div>
                </a>
            </div>

            <!-- Navigation Links -->
            <nav class="header-nav">
                <ul class="nav-list">
                    <li><a href="/home" class="nav-link">Home</a></li>
                    <li><a href="/workouts" class="nav-link">Workouts</a></li>
                    <li><a href="/progress" class="nav-link">Progress</a></li>
                </ul>
            </nav>

            <!-- Utility Buttons -->
            <div class="header-utils">
                <!-- Notifications -->
                <button class="icon-button" title="Notifications">
                    <img src="https://www.svgrepo.com/show/326725/notifications-circle-outline.svg"
                         alt="Notifications" class="icon-img" width="35px" height="35px">
                </button>

                <!-- Profile Dropdown -->
                <div class="avatar">
                    <img src="https://www.svgrepo.com/show/9429/male-silhouette-variant-showing-muscles.svg"
                         alt="User Avatar" class="avatar-icon">
                    <div class="dropdown">
                        <a href="/profile" class="dropdown-item">Profile</a>
                        <a href="/logout" class="dropdown-item">Logout
                            <img src="https://www.svgrepo.com/show/509151/logout.svg"
                                 alt="Logout Icon" class="dropdown-icon" width="16.5" height="16.5">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>

</html>