<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">
    <header class="header">
        <div class="header-wrap">
            <div class="header-left">
                <a href="/" class="logo-link">
                <div class="logo-wrap">
                    <img src="/images/logo-384x384.jpg" width="50" height="50" loading="lazy"
                         alt="Lifting Diaries logo" class="logo-img">
                    <span class="logo-title">Lifting Diaries</span>
                </div>
                </a>
            </div>
            <div class="group">
                <div class="checkbox-group">
                    <label class="checkbox">
                        <input type="checkbox">
                        <svg viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="checkbox-icon">
                            <path
                                    d="M4 4.586L1.707 2.293A1 1 0 1 0 .293 3.707l3 3a.997.997 0 0 0 1.414 0l5-5A1 1 0 1 0 8.293.293L4 4.586z">
                            </path>
                        </svg>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <svg viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="checkbox-icon">
                            <path
                                    d="M4 4.586L1.707 2.293A1 1 0 1 0 .293 3.707l3 3a.997.997 0 0 0 1.414 0l5-5A1 1 0 1 0 8.293.293L4 4.586z">
                            </path>
                        </svg>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <svg viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="checkbox-icon">
                            <path
                                    d="M4 4.586L1.707 2.293A1 1 0 1 0 .293 3.707l3 3a.997.997 0 0 0 1.414 0l5-5A1 1 0 1 0 8.293.293L4 4.586z">
                            </path>
                        </svg>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <svg viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="checkbox-icon">
                            <path
                                    d="M4 4.586L1.707 2.293A1 1 0 1 0 .293 3.707l3 3a.997.997 0 0 0 1.414 0l5-5A1 1 0 1 0 8.293.293L4 4.586z">
                            </path>
                        </svg>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <svg viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="checkbox-icon">
                            <path
                                    d="M4 4.586L1.707 2.293A1 1 0 1 0 .293 3.707l3 3a.997.997 0 0 0 1.414 0l5-5A1 1 0 1 0 8.293.293L4 4.586z">
                            </path>
                        </svg>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <svg viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg"
                             class="checkbox-icon">
                            <path
                                    d="M4 4.586L1.707 2.293A1 1 0 1 0 .293 3.707l3 3a.997.997 0 0 0 1.414 0l5-5A1 1 0 1 0 8.293.293L4 4.586z">
                            </path>
                        </svg>
                    </label>
                </div>
                <button class="icon-button" title="Notifications">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3H4a4 4 0 0 0 2-3V11a7 7 0 0 1 4-6">
                        </path>
                        <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                    </svg>
                </button>
                <button class="icon-button" title="Toggle Color Scheme">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                                d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z">
                        </path>
                        <path d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2"></path>
                        <path d="M19 11h2m-1 -1v2"></path>
                    </svg>
                </button>
                <div class="avatar" title="Profile">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none">
                        <path
                                d="M16 16a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm0 2c-4.418 0-8 3.582-8 8v2h16v-2c0-4.418-3.582-8-8-8z"
                                fill="#555"></path>
                    </svg>
                </div>
            </div>
        </div>
    </header>
</div>


</body>

</html>