<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="header">
    <header class="header">
        <div class="header-wrap">
            <!-- Logo Section -->
            <div class="header-left">
                <a href="/" class="logo-link">
                    <div class="logo-wrap">
                        <img src="/images/logo-384x384.jpg" width="55" height="55" loading="lazy"
                             alt="Lifting Diaries logo" class="logo-img">
                        <span class="logo-title">Lifting Diaries</span>
                    </div>
                </a>
            </div>

            <!-- Utility Buttons -->
            <div class="header-utils">
                <nav class="header-nav">
                    <ul class="nav-list">
                        <li>
                            <a href="/home" class="nav-link">
                                <img src="https://www.svgrepo.com/show/22031/home-icon-silhouette.svg"
                                     alt="Home" class="nav-icon" width="35px" height="35px">
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Profile Dropdown -->
                <div class="avatar">
                    <img src="https://www.svgrepo.com/show/9429/male-silhouette-variant-showing-muscles.svg"
                         alt="User Avatar" class="avatar-icon">
                    <div class="dropdown">
                        <a href="/profile" class="dropdown-item">Profile</a>
                        <a href="/logout" class="dropdown-item">Logout
                            <img src="https://www.svgrepo.com/show/509151/logout.svg"
                                 alt="Logout Icon" class="dropdown-icon" width="16.5" height="16.5">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>

</html>