.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;
    padding: 30px;
    background: linear-gradient(135deg, #e2f3ff 0%, rgba(116, 196, 255, 0.78) 100%);
    border: 2px solid #554646;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

    text-align: center;
}

.about-section:last-child {
    margin-bottom: 0;
}

.about-icon {
    width: 450px;
    height: auto;
    margin-bottom: 15px;
    border: 2px solid #333;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 1.3rem;
    max-width: 800px;
    color: #111;
    text-align: center;
    padding: 0 20px;
    line-height: 1.5;
    margin: 10px 0;
}

strong {
    color: rgb(255, 177, 4);
    font-weight: 700;
    text-transform: uppercase;
}

.about-section ul {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.about-section ul li {
    font-size: 1.2rem;
    max-width: 800px;
    color: #111;
    text-align: center;
    padding: 8px 20px;
    line-height: 1.5;
}
