.footer {
    padding: 1rem;
    border-top: 0.0625rem solid rgb(222, 226, 230);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: calc(-1.25rem);
    margin-top: 1.25rem;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    gap: 1rem;
}

.footer-icon button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
}

.footer-icon svg {
    width: 24px;
    height: 24px;
    stroke: #555;
    transition: stroke 0.3s;
}

.footer-icon button:hover svg {
    stroke: #228be6;
}

.footer-right {
    display: flex;
}

.footer-links {
    display: flex;
    gap: 1rem;
}

.footer-links a {
    color: #333;
    text-decoration: underline;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #228be6;
}
