
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.header-wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo-wrap {
    display: flex;
    align-items: center;
}

.logo-title {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none; /* Remove underline */
}

a {
    text-decoration: none;
}

.header-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none; /* Remove underline */
    font-size: 1rem;
    color: #333;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #228be6;
}

.header-utils {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
}

.avatar {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    position: relative; /* Ensure dropdown stays aligned */
}

.avatar:hover {
   border-color: #228be6;
}

.avatar-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

/* Dropdown */
.dropdown {
    position: absolute;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(233, 236, 239);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.0625rem 0.1875rem, rgba(0, 0, 0, 0.05) 0px 1.25rem 1.5625rem -0.3125rem, rgba(0, 0, 0, 0.04) 0px 0.625rem 0.625rem -0.3125rem;
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    opacity: 1;
    z-index: 300;
    top: calc(100% + 0.5rem);
    width: 131px;
    display: none;
    transition: opacity 150ms ease, transform 150ms ease;
    transform: scale(0.95);
    transform-origin: top right;
}

.dropdown.show {
    display: block;
    transform: scale(1);
    opacity: 1;
}

.dropdown-item {
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    color: rgb(33, 37, 41);
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease, color 0.2s ease, fill 0.2s ease;
    cursor: pointer;
    width: 100%;
    gap: 0.75rem;
}

.dropdown-item:hover {
    background: #f8f9fa;
}

.dropdown-item:active {
    background: #e9ecef;
}

/* Ensure the icon matches the text color dynamically */
.dropdown-icon {
    width: 18px;
    height: 18px;
    fill: currentColor; /* Icon matches text color */
    transition: fill 0.2s ease;
}

.avatar {
    position: relative;
    cursor: pointer;
}


