<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 400 - Bad Request</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/error-page.css">
    <link rel="icon" href="/images/fav_48px.ico">
</head>
<body>
<div id="app">
    <main class="layout">
        <div class="main-card">
            <th:block th:insert="~{fragments/header :: header}"></th:block>

            <div class="error-container">
                <h1>Error 400</h1>
                <p>Bad Request. Please check your input and try again.</p>
                <img th:src="@{https://www.svgrepo.com/show/521279/error-16.svg}"
                     alt="Bad Request" class="error-image">
                <a th:href="@{/home}" class="profile-actions-button">
                    <p>Go to Homepage</p>
                </a>
            </div>

            <th:block th:insert="~{fragments/footer :: footer}"></th:block>
        </div>
    </main>
</div>
</body>
</html>
