<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#efd36c">
    <title>Lifting Diaries | Error</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/error-page.css">
    <link rel="icon" href="/images/fav_48px.ico">
</head>

<body>
<div id="app">
    <main class="layout">
        <div class="main-card">
            <th:block th:insert="~{fragments/header :: header}"></th:block>

            <div class="error-container">
                <h1 th:text="'Error ' + ${errorCode}">Something Went Wrong</h1>
                <p th:text="${errorMessage}">An unexpected error occurred. Please try again later.</p>
                <img th:src="@{https://www.svgrepo.com/show/429282/server-error.svg}"
                     alt="Error Image" class="not-found-image">
                <a th:href="@{/}" class="profile-actions-button">
                    <p>Go to Homepage</p>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 12h16m-6-6l6 6-6 6" stroke="currentColor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>

            <th:block th:insert="~{fragments/footer :: footer}"></th:block>
        </div>
    </main>
</div>
</body>
</html>
