<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#efd36c">
    <title>Lifting Diaries | Workout Categories</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/workout.css">
    <link rel="icon" href="/images/fav_48px.ico">
    <script src="/css/dropdown.js" defer></script>
    <script src="/css/workout.js" defer></script>

</head>

<body>
<div id="app">

    <main class="layout">
        <div class="main-card">

            <!-- Header Fragment -->
            <header th:replace="fragments/header :: header"></header>

            <div class="app-title">
                <h1>Choose the muscle group you want to train.</h1>
            </div>

            <div class="category-grid">
                <div th:each="category : ${categories}" class="category-card">
                    <a href="#" class="category-link" th:data-name="${category.name}">
                        <img th:src="@{${'/images/' + category.name.toLowerCase() + '.jpg'}}"
                             th:alt="${category.name}" class="category-image">
                        <h3 th:text="${category.name}" class="category-name"></h3>
                    </a>
                </div>
            </div>

            <div class="start-workout-container">
                <button id="startWorkoutButton" class="startWorkoutButton" disabled onclick="startWorkout()">Start Workout</button>
            </div>

            <!-- Footer Fragment -->
            <footer th:replace="fragments/footer :: footer"></footer>

        </div>

    </main>

    <!-- Modal for showing exercises -->
    <div class="modal" id="exerciseModal">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalTitle">Exercises</h2>
                <button class="close-modal" onclick="closeModal()">&times;</button>
            </div>
            <div class="modal-body">
                <ul id="exerciseList"></ul>
            </div>
        </div>
    </div>
</div>

</body>

</html>